#btn
{
	width:250px;
	height:50px;
	background-color:1EDFAC;
}
form
{
text-align:center;
}
#pic
{
	width:120px;
	height:80px;
}
.ipt
{
	width:200px;
	height:30px;
}
	
#frmbck
{
	height:520px;
	background-color:C0C0C0;
}